src/main/resources/data.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Tariffs">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Tariff" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:byte" name="Id"/>
                            <xs:element type="xs:string" name="Name"/>
                            <xs:element type="xs:string" name="OperatorName"/>
                            <xs:element type="xs:float" name="Payroll"/>
                            <xs:element name="CallPrices">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:float" name="SameOperator"/>
                                        <xs:element type="xs:float" name="AnotherOperator"/>
                                        <xs:element type="xs:float" name="LandlinePhone"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:float" name="SmsPrice"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="TariffWithInternet" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:byte" name="Id"/>
                            <xs:element type="xs:string" name="Name"/>
                            <xs:element type="xs:string" name="OperatorName"/>
                            <xs:element type="xs:float" name="Payroll"/>
                            <xs:element name="CallPrices">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:float" name="SameOperator"/>
                                        <xs:element type="xs:float" name="AnotherOperator"/>
                                        <xs:element type="xs:float" name="LandlinePhone"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:float" name="SmsPrice"/>
                            <xs:element type="xs:short" name="TrafficInMegabyte"/>
                            <xs:element type="xs:float" name="PriceForOneMegabyte"/>
                            <xs:element type="xs:string" name="IsModemModeEnabled"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>